*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    height:150vh;
    background-color: rgb(4, 9, 46);
    
    
    
}
.sun{
    width:100px;
    height:100px;
    background-image: url('../images/The-Sun.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.mercury_orbit,
.venus_orbit,
.earth_orbit,
.mars_orbit,
.jupiter_orbit,
.saturn_orbit,
.uranus_orbit,
.neptune_orbit{
    border:1px solid rgba(37, 48, 96, 0.547);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    border-radius:50%;
    
}
.mercury_orbit{
    width: 150px;
    height:150px;
}
.mercury{
    width:20px;
    height:20px;
    background-image: url('../images/mercury.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    position:absolute;
    top:44%;
    left:44%;
    transform:translate(-50%,-50%);
    animation: orbit1 4s infinite linear;
}
@keyframes orbit1{
    from{
        transform:rotate(360deg) translateX(70px) rotate(-360deg);
   }
   to{
    transform:rotate(0deg) translateX(70px) rotate(0deg);
   }
}
.venus_orbit{
    width:210px;
    height:210px;

}
.venus{
    width:24px;
    height:24px;
    background-image: url('../images/Venus-512.webp');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    position:absolute;
    top:43%;
    left:43%;
    transform:translate(-50%,-50%);
    animation: orbit2 8s infinite linear;
}
@keyframes orbit2{

    from{
        transform:rotate(360deg) translateX(105px) rotate(-360deg);
   }
   to{
    transform:rotate(0deg) translateX(105px) rotate(0deg);
   }
}
.earth_orbit{
    width:300px;
    height:300px;

}
.earth{
    width:30px;
    height:30px;
    background-image: url('../images/earth.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    position:absolute;
    top:44%;
    left:44%;
    transform:translate(-50%,-50%);
    animation: orbit3 12s infinite linear;
}
@keyframes orbit3{

    from{
        transform:rotate(360deg) translateX(150px) rotate(-360deg);
   }
   to{
    transform:rotate(0deg) translateX(150px) rotate(0deg);
   }
}
.mars_orbit{
    width:400px;
    height:400px;

}
.mars{
    width:24px;
    height:24px;
    background-image: url('../images/mars.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    position:absolute;
    top:47%;
    left:47%;
    transform:translate(-50%,-50%);
    animation: orbit4 16s infinite linear;
}
@keyframes orbit4{

    from{
        transform:rotate(360deg) translateX(200px) rotate(-360deg);
   }
   to{
    transform:rotate(0deg) translateX(200px) rotate(0deg);
   }
}
.jupiter_orbit{
    width:500px;
    height:500px;

}
.jupiter{
    width:40px;
    height:40px;
    background-image: url('../images/Jupiter.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    position:absolute;
    top:47%;
    left:47%;
    transform:translate(-50%,-50%);
    animation: orbit5 20s infinite linear;
}
@keyframes orbit5{

    from{
        transform:rotate(360deg) translateX(250px) rotate(-360deg);
   }
   to{
    transform:rotate(0deg) translateX(250px) rotate(0deg);
   }
}
.saturn_orbit{
    width:600px;
    height:600px;

}
.saturn{
    width:43px;
    height:43px;
    background-image: url('../images/saturn.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    position:absolute;
    top:47%;
    left:47%;
    transform:translate(-50%,-50%);
    animation: orbit6 24s infinite linear;
}
@keyframes orbit6{

    from{
        transform:rotate(360deg) translateX(300px) rotate(-360deg);
   }
   to{
    transform:rotate(0deg) translateX(300px) rotate(0deg);
   }
}
.uranus_orbit{
    width:700px;
    height:700px;

}
.uranus{
    width:43px;
    height:43px;
    background-image: url('../images/uranus.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    position:absolute;
    top:47%;
    left:47%;
    transform:translate(-50%,-50%);
    animation: orbit7 28s infinite linear;
}
@keyframes orbit7{

    from{
        transform:rotate(360deg) translateX(350px) rotate(-360deg);
   }
   to{
    transform:rotate(0deg) translateX(350px) rotate(0deg);
   }
}
.neptune_orbit{
    width:800px;
    height:800px;

}
.neptune{
    width:43px;
    height:43px;
    background-image: url('../images/Neptuno.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    position:absolute;
    top:47%;
    left:47%;
    transform:translate(-50%,-50%);
    animation: orbit8 32s infinite linear;
}
@keyframes orbit8{

    from{
        transform:rotate(360deg) translateX(400px) rotate(-360deg);
   }
   to{
    transform:rotate(0deg) translateX(400px) rotate(0deg);
   }
}


