/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    .banner .banner-box{
        width:auto;
        background:#DFE9F4;
        border-radius: 10px;
        padding: 40px 70px 38px 27px;
        margin: 0 auto;
    }
    .banner-box h1{
        width:auto;
        font-size:42px;
        font-weight:700;
        font-family:var(--montserrat);
        color:var(--brandcolor);
    }
    .banner-box p{
        width:auto;
        font-size:16px;
        font-weight:500;
        font-family:var(--montserrat);
        color:var(--primarycolor);
    
    }
    .banner-box a{
        padding:20px 65px;
        background:var(--brandcolor);
        border-radius:50px;
        margin-top:30px;
        font-size:16px;
        font-weight:700;
        font-family:var(--montserrat);
        color:#fff;
    }
    .single_services_row{
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #inspiration .common_head h2{
        font-size: 28px;
    }
    #inspiration .common_head p{
        font-size: 20px;
    }
    #inspiration .col-lg-4{
        display: flex;
        justify-content: center;
    }
    #inspiration .inspiration_img_1{
        border-top-left-radius:76px;
        border-top-right-radius:76px;
    }
    #inspiration .inspiration_img_3{
        border-bottom-left-radius:76px;
    }
    #beautify h2{
        font-size: 28px;
        text-align: center;
    }
    #beautify p{
        font-size: 18px;
        text-align: center;
        width: 100%;
    }
    #beautify a{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .beautify_img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .beautify_img img{
        width: 50%;
    }
    #range .common_head h2{
        font-size: 28px;
    }
    #range .common_head p{
        font-size: 18px;
    }
    #range .col-lg-4{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    #works .common_head h2{
        font-size: 28px;
    }
    #works .common_head p{
        font-size: 18px;
    }
    #works .col-lg-4{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    #mail .common_head h2{
        font-size: 28px;
        margin-bottom: 20px;
    }
    #mail .common_head p{
        font-size: 18px;
    }
  }
  
  /* Small devices (phones in landscape, ≥576px) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    .banner .banner-box{
        width:auto;
        background:#DFE9F4;
        border-radius: 10px;
        padding: 40px 70px 38px 27px;
        margin: 0 auto;
    }
    .banner-box h1{
        width:auto;
        font-size:42px;
        font-weight:700;
        font-family:var(--montserrat);
        color:var(--brandcolor);
    }
    .banner-box p{
        width:auto;
        font-size:16px;
        font-weight:500;
        font-family:var(--montserrat);
        color:var(--primarycolor);
    
    }
    .banner-box a{
        padding:20px 65px;
        background:var(--brandcolor);
        border-radius:50px;
        margin-top:30px;
        font-size:16px;
        font-weight:700;
        font-family:var(--montserrat);
        color:#fff;
    }
    .single_services_row{
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #inspiration .common_head h2{
        font-size: 28px;
    }
    #inspiration .common_head p{
        font-size: 20px;
    }
    #inspiration .col-lg-4{
        display: flex;
        justify-content: center;
    }
    #inspiration .inspiration_img_1{
        border-top-left-radius:76px;
        border-top-right-radius:76px;
    }
    #inspiration .inspiration_img_3{
        border-bottom-left-radius:76px;
    }
    #beautify h2{
        font-size: 28px;
        text-align: center;
    }
    #beautify p{
        font-size: 18px;
        text-align: center;
        width: 100%;
    }
    #beautify a{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .beautify_img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .beautify_img img{
        width: 50%;
    }
    #range .common_head h2{
        font-size: 28px;
    }
    #range .common_head p{
        font-size: 18px;
    }
    #range .col-lg-4{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    #works .common_head h2{
        font-size: 28px;
    }
    #works .common_head p{
        font-size: 18px;
    }
    #works .col-lg-4{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    #mail .common_head h2{
        font-size: 28px;
        margin-bottom: 20px;
    }
    #mail .common_head p{
        font-size: 18px;
    }
    
  }
  
  /* Medium devices (tablets, ≥768px) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .banner .banner-box{
        width:auto;
        background:#DFE9F4;
        border-radius: 10px;
        padding: 40px 70px 38px 27px;
        margin: 0 auto;
    }
    .beautify_img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .beautify_img img{
        width: 60%;
    }
    
    .banner-box h1{
        width:auto;
        font-size:48px;
        font-weight:700;
        font-family:var(--montserrat);
        color:var(--brandcolor);
    }
    .banner-box p{
        width:auto;
        font-size:16px;
        font-weight:500;
        font-family:var(--montserrat);
        color:var(--primarycolor);
    
    }
    .banner-box a{
        padding:20px 65px;
        background:var(--brandcolor);
        border-radius:50px;
        margin-top:30px;
        font-size:16px;
        font-weight:700;
        font-family:var(--montserrat);
        color:#fff;
    }
    .single_services_row{
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #inspiration .common_head h2{
        font-size: 30px;
    }
    #inspiration .common_head p{
        font-size: 20px;
    }
    #inspiration .col-lg-4{
        display: flex;
        justify-content: center;
    }
    #inspiration .inspiration_img_1{
        border-top-left-radius:76px;
        border-top-right-radius:76px;
    }
    #inspiration .inspiration_img_3{
        border-bottom-left-radius:76px;
        display: flex;
    }
    #beautify h2{
        font-size: 30px;
        text-align: center;
    }
    #beautify p{
        font-size: 18px;
        text-align: center;
        width: 100%;
    }
    #beautify a{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    #range .common_head h2{
        font-size: 30px;
    }
    #range .common_head p{
        font-size: 18px;
    }
    #range .col-lg-4{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    #works .common_head h2{
        font-size: 30px;
    }
    #works .common_head p{
        font-size: 18px;
    }
    #works .col-lg-4{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    #mail .common_head h2{
        font-size: 30px;
        margin-bottom: 20px;
    }
    #mail .common_head p{
        font-size: 18px;
    }
  }
  

  

  