/* ___________fontlinks part start_________ */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');











/* ___________fontlinks part end____________ */


 /* ___________common css part part start_________  */
*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p,ul,ol{
    margin:0;
    padding:0;
}
img{
    width:100%;
    max-width:100%;
    vertical-align: middle;
}

:root{
    --montserrat : "Montserrat", sans-serif;
    --primarycolor : #333333;
    --brandcolor:#054C73 ;
}
.common_head h2{
    font-size:32px;
    font-weight:700;
    font-family:var(--montserrat);
    color:var(--primarycolor);
    text-align: center;
}
.common_head p{
    font-size:20px;
    font-weight:400;
    font-family:var(--montserrat);
    color:#666666;
    text-align:center;
    margin-top:13px;
}

/* ___________common css part part end____________ */
/* ___________ Navbar part start_________ */


.main_nav img{
    width: 167px;
}

.main_nav ul li a{
    font-size:14px;
    font-weight:600;
    font-family: var(--montserrat);
    color:var(--primarycolor) !important;
    position:relative;
    padding:0 !important;
}
.main_nav ul li a::before{
    content: '';
    width: 0;
    height:2px;
    background-color: var(--brandcolor);
    position:absolute;
    bottom:0;
    left:0;
    transition: all linear .4s;
}
.main_nav ul li a:hover::before{
    width:100%;
}
.main_nav{
    padding-top:43px;
    padding-bottom:38px;
}
.main_nav ul{
    gap:73px;
}
/* ___________ Navbar part end____________ */
/* ___________banner part start_________ */
.banner{
    background:url('../images/banner.png');
    padding-top:152px;
    padding-bottom:154px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner .banner-box{
    width:643px;
    background:#DFE9F4;
    border-radius: 10px;
    padding: 40px 70px 38px 27px;
    margin-left: auto;
}
.banner-box h2{
    font-size:16px;
    font-weight:600;
    font-family: var(--montserrat);
    color: var(--primarycolor);
    letter-spacing: 3px;
}
.banner-box h1{
    width:472px;
    font-size:52px;
    font-weight:700;
    font-family:var(--montserrat);
    color:var(--brandcolor);
}
.banner-box p{
    width: 546px;
    font-size:18px;
    font-weight:500;
    font-family:var(--montserrat);
    color:var(--primarycolor);

}
.banner-box a{
    padding:25px 72px;
    background:var(--brandcolor);
    border-radius:50px;
    margin-top:30px;
    font-size:16px;
    font-weight:700;
    font-family:var(--montserrat);
    color:#fff;
}
/*___________services part start___________*/

#services{
    padding-top:46px;
    padding-bottom: 49px;
    background:#F2F5FF;

}
.single_services_row{
    display:flex;
    gap:27px;
}
.single_services_row .single_service_img1{
    width:84px;
}
.single_services_row .single_service_img2{
    width:60px;
}
.single_services_row .single_service_img1{
    width:55px;
}
.single_services_row .single_service_text h2{
    font-size:24px;
    font-weight:600;
    font-family:var(--montserrat);
    color:var(--primarycolor);
}
.single_services_row .single_service_text p{
    font-size:16px;
    font-weight:400;
    font-family:var(--montserrat);
    color:var(--primarycolor);
    margin-top:6px;
}

/* ___________services part end____________ */
/* ___________Inspiration part start_________ */
#inspiration{
    padding-top:60px;
}
#inspiration .inspiration_img{
    width:355px;
    overflow:hidden;
    margin-top:94px;
    transition:all linear .4s;
}
#inspiration .inspiration_img:hover{
    margin-top:19px;
}
#inspiration .inspiration_img_1{
    border-top-left-radius:76px;
}
#inspiration .inspiration_img_3{
    border-bottom-right-radius:76px;
}

/* ___________Inspiration part end____________ */

/* ___________beautify part start_________ */
#beautify{
    background:#F2F5FF;
    padding-top:55px;
    margin-top:62px;
    padding-bottom: 62px;
}



.beautify_text h2{
    font-size:32px;
    font-weight:700;
    font-family:var(--montserrat);
    color:var(--primarycolor);
    
}
.beautify_text p{
    width:486px;
    font-size:20px;
    font-weight:400;
    font-family:var(--montserrat);
    color:#666666;
    margin-top:20px;
    margin-bottom:30px;
    
}
.beautify_text a{
    width:228px;
    height:68px;
    background:var(--brandcolor);
    border-radius:50px;
    font-size:16px;
    font-weight:700;
    font-family:var(--montserrat);
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;

}
.beautify_row{
    align-items: center;
}

/* ___________beautify part end____________ */
/* ___________range part start_________ */

#range{
    padding-top:55px;
}
.range_row{
    margin-top:50px;
}
.range_single_card h2{
    font-size:24px;
    font-weight:600;
    font-family:var(--montserrat);
    color:var(--primarycolor);
    text-align:center;
    margin-top:30px;

}

/* ___________range part end____________ */
/* ___________works part start_________ */
#works{
    padding-top:121px;
    padding-bottom:198px;
}
.works_single_card {
    width:381px;
    margin-top:50px;
}
.works_single_card .single_works_image{
    position:relative;
}
.works_single_card .single_works_image p{
    width:60px;
    height:60px;
    background:#000;
    border-radius:50%;
    font-size:24px;
    font-weight:700;
    font-family:var(--montserrat);
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:-30px;
    outline:15px solid #fff;


}
.works_single_card .works_single_text h2{
    font-size:24px;
    font-weight:700;
    font-family:var(--montserrat);
    color:var(--primarycolor);
    text-align: center;
    margin-top:75px;
}
.works_single_card .works_single_text p{
    font-size: 18px;
    font-weight:400;
    font-family:var(--montserrat);
    color:#666666;
    text-align:center;
    margin-top:10px;

}

/* ___________works part end____________ */

/*____________mail part start___________*/
#mail{
    background:#F2F5FF;
    padding-top:59px;
    padding-bottom:63px;
}
#mail .common_head p{
    width:514px;
    margin:0 auto;

}
#mail .mail_box{
    width:486px;
    height:67px;
    background:#fff;
    display:flex;
    justify-content:space-between;
    margin:0 auto;
    margin-top:50px;
    border:1px solid var(--brandcolor);
    border-radius:3px;

}
.mail_box input{
    width:60%;
    border:none;
    font-size:16px;
    font-weight:400;
    font-family:var(--montserrat);
    color:#011C42;
    padding-left:21px;


}
.mail_box button{
    width:153px;
    border:1px solid #011C42;
    border-radius:3px;
    font-size:16px;
    font-weight:700;
    font-family:var(--montserrat);
    color:#eee;
    background:var(--brandcolor);

}
/*____________mail part end_____________*/

/*____________footer part start_________*/
#footer{
    background:#03344F;
    padding-top:49px;
    padding-bottom:89px;
}
#footer h2{
    font-size:24px;
    font-weight:700;
    font-family:var(--montserrat);
    color:#fff;
}
.footer_text p{
    width:397px;
    font-size:16px;
    font-weight:400;
    font-family:var(--montserrat);
    color:#fff;
    line-height:35px;
    margin-top:34px;
    margin-bottom:21px;

}
.insta_img{
    display:flex;
    justify-content:space-between;
    margin-top:32px;
}
.insta_img .insta_single_img{
    width:175px;
}
/*____________footer part end_________*/
